<div class="navbar-inner">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <p></p>
                <div class="pull-right">
                    <a href="#top" rel="nofollow" class="label label-info">回到顶端</a>
                </div>
                <div>
                    <span class="label label-info">中国质量人才网 @ <?php echo date('Y');?></span>
                </div>
            </div>
        </div>
    </div>
</div>